.react-calendar {
  border: none !important;
  background-color: #f4f9f5 !important;
  border-radius: 8px !important;
  font-family: "Arial", sans-serif;
  padding: 16px !important;
  width: 100%;
  max-width: 500px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.react-calendar__navigation {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 16px !important;
}

.react-calendar__navigation button {
  color: #333 !important;
  background: none !important;
  border: none !important;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

.react-calendar__navigation button:hover {
  color: #609966 !important;
}

.react-calendar__tile {
  padding: 10px !important;
  border-radius: 8px !important;
  text-align: center !important;
}

.react-calendar__tile--now {
  background-color: #93b397 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.react-calendar__tile--active {
  background-color: #609966 !important;
  color: #fff !important;
}

.react-calendar__tile:enabled:hover {
  background-color: #609966 !important;
}
.react-calendar__tile--active:enabled:focus {
  background-color: #609966 !important; /* 초록색 배경 */
  color: #fff !important; /* 흰색 텍스트 */
  -webkit-tap-highlight-color: transparent; /* 모바일 터치 하이라이트 제거 */
}
/* 주말 (토요일, 일요일) 스타일 */
.react-calendar__tile.weekend {
  color: red !important; /* 빨간색 */
  font-weight: bold !important;
}
/* 요일 전체 스타일 */
/* .react-calendar__month-view__weekdays {
  text-align: center !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #333 !important;
  background-color: #f0f0f0 !important;
  padding: 10px 0 !important;
} */

/* 일요일 스타일 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) {
  color: red !important; /* 빨간색 */
}

/* 토요일 스타일 */
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  color: red !important; /* 파란색 */
}
.react-calendar__month-view__weekdays abbr {
  text-decoration: none !important;
}
